:root {
    --black : black;
    --white: white;
    --greyerWHite: #F0F0F0;
    --greyerWhite2: #F2F0F1;
    --greyerWhite3: #F0EEED;
    --yellow: #FFC633;
    --red: #FF3333;
    --green: #01AB31;
}